#file name / name / linear / version
res-independent-scanlines.glsl;scanlines;false;1
hq2x-halphon.glsl;hq2x;false;3
xbrz-freescale.glsl;xbrz-freescale;false;1
MMJ_Cel_Shader.glsl;MMJ_Cel_Shader;false;1
pixellate.glsl;pixellate;false;1
aa-fxaa.glsl;aa-fxaa;true;1
crt-geom-mini.glsl;crt-geom-mini;true;1
crt-geom.glsl;crt-geom;false;1
zfast_crt.glsl;zfast_crt;true;1
zfast_crt_composite.glsl;zfast_crt_composite;true;1
zfast_crt_geo.glsl;zfast_crt_geo;true;1
zfast_crt_geo_svideo.glsl;zfast_crt_geo_svideo;true;1
zfast_crt_nogeo.glsl;zfast_crt_nogeo;true;1
zfast_crt_nogeo_svideo.glsl;zfast_crt_nogeo_svideo;true;1
2xScaleHQ.glsl;2xScaleHQ;false;1
4xScaleHQ.glsl;4xScaleHQ;false;1
aa-advanced.glsl;aa-advanced;false;1
aa-reverse.glsl;aa-reverse;false;3
adaptive-sharpen.glsl;adaptive-sharpen;false;3
crt-1tap.glsl;crt-1tap;true;1
crt-aperture.glsl;crt-aperture;false;1
crt-caligari.glsl;crt-caligari;false;1
crt-cgwg-fast.glsl;crt-cgwg-fast;false;1
crt-Cyclon.glsl;crt-Cyclon;true;1
crt-easymode.glsl;crt-easymode;false;1
crt-hyllian-3d.glsl;crt-hyllian-3d;true;1
crt-hyllian.glsl;crt-hyllian;false;1
crt-hyllian-fast.glsl;crt-hyllian-fast;false;1
crt-lottes.glsl;crt-lottes;true;1
crt-lottes-nogeo.glsl;crt-lottes-nogeo;true;1
crt-lottes-fast.glsl;crt-lottes-fast;true;1
crt-mattias.glsl;crt-mattias;false;1
crt-mattias-nogeo.glsl;crt-mattias-nogeo;false;1
crt-nobody.glsl;crt-nobody;false;1
#crt-pi.glsl;crt-pi;false;1
#crt-sines.glsl;crt-sines;true;1
ddt.glsl;ddt;false;1
#fake-CRT-Geom-potato.glsl;fake-CRT-Geom-potato;true;1
#fake-CRT-Geom.glsl;fake-CRT-Geom;false;1
#fast-bilateral-3d.glsl;fast-bilateral-3d;false;1
#fast-bilateral.glsl;fast-bilateral;false;1
median_3x3.glsl;median_3x3;false;1
median_5x5.glsl;median_5x5;false;1
pixel_art_AA.glsl;pixel_art_AA;false;1
quilez.glsl;quilez;true;1
sabr-hybrid-deposterize.glsl;sabr-hybrid-deposterize;false;1
sabr-v3.0.glsl;sabr-v3.0;false;1
epx.glsl;epx;false;1
mmpx.glsl;mmpx;false;1
scale2x.glsl;scale2x;false;1
#scale2xplus.glsl;scale2xplus;false;1
#scale2xSFX.glsl;scale2xSFX;false;1
scale3x.glsl;scale3x;false;1
scale3xSFX.glsl;scale3xSFX;false;3
sedi-v1.0.glsl;sedi-v1.0;true;1
supereagle.glsl;supereagle;false;1



